.spacing {
    margin-top: 60px;
    margin-bottom: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.background {
    background-color: #303030;
}

.app-text-color {
    color: white;
}
