.spacing {
    margin-top: 60px;
    margin-bottom: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.background {
    background-color: #303030;
}

.app-text-color {
    color: white;
}

.errorlist {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0;
    padding: 12px;
    border: 0;
    outline: 0;
    font-weight: inherit;
    vertical-align: baseline;
    list-style-type: none;
}
